
$primary-color: #17a2b8;
$secondary-color: #6f42c1;
$info-color: #20c997;
$warning-color: #ffc107;
$success-color: #28a745;
$dander-color: #dc3545;

$dark-color: #3c4b64;
$gray-color: #6c757d;
$light-color: #f8f9fa;
$border-color: #ebebeb;
$white-color: #ffffff;

$font-size: 16px;
$font-family: 'Roboto', sans-serif;


$grid-bp-sm: 576;
$grid-bp-md: 768;
$grid-bp-lg: 992;
$grid-bp-xl: 1200;
$grid-cols: 12;
$gutter: 15px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$sidebar-width:250px;
$sidebar-min: 50px;

$box-shadow: 0 2px 5px rgba(0,0,0,.2);